!!!
%html
  = render :partial => 'mix_panel'
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Twitch Bot'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Twitch Bot'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    .container
      %main#main{:role => "main"}
        = render 'layouts/messages'
        = yield

  :javascript
    mixpanel.track('page viewed', {
      'page name' : document.title,
      'url' : window.location.pathname
    });
